:root {
  --main-color: #e0c150;
  --sub-color: #5b1a1a;

  --main-font: futura-pt, sans-serif;
  --sub-font: source-han-sans-cjk-ko, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

#finishing-notice {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 38px;
  color: var(--sub-color);
}

#newplan {
  position: relative;
  width: 420px;
  height: 60px;
  border: 1px solid #E0C150;
  border-radius: 5px;
  background-color: var(--main-color);
  font-family: var(--sub-font);
  font-weight: 700;
  color: var(--sub-color);
  transition: background-color .5s, padding-left .5s;
}

#newplan:hover {
  padding-left: 30px;
  background-color: rgba(224,193,80,0.5)
}