:root {
    --main-color: #e0c150;
    --sub-color: #5b1a1a;

    --main-font: arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.inlineBlock{
    display: inline-block;
}

.roomSelected{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    transition: background-color .8s;

}
.roomSelected:hover{
    background-color: rgb(216, 184, 0);
    color: white
    
}

.box {
    width: 360px;
    height: 60px;
    border: 1px solid #E0C150;
    border-radius: 5px;
}

#optionList {
    display: flex;
    justify-content: space-between;
}
#optionList > div {
    width: 80px;
    height: 60px;
    border: 1px solid #E0C150;
    border-radius: 5px;
}