:root {
    --main-color: #e0c150;
    --sub-color: #5b1a1a;

    --main-font: futura-pt, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}

.title {
    margin-bottom: 10px;
    color: var(--sub-color);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.inlineBlock{
    display: inline-block;
}
#roomFeeBox{
    color: var(--sub-color);
    font-weight: bold;
}
.roomSelected{
    margin-top: 10px;
    padding: 13px;
    width: 60px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 7px;
    color: var(--sub-color);
    font-weight: bold;
    transition: background-color .8s;
}
.roomSelected:hover{
    background-color: var(--main-color);
}
#checkIn, #checkOut, #roomOption, #personOption, #optionList {
    margin-bottom: 10px;
    transition: background-color .5s;
}
#checkIn:hover, #checkOut:hover, #roomOption:hover {
    background-color: rgba(224,193,80,0.5);
}

.box {
    padding: 23px;
    width: 315px;
    height: 18px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}
.label{
    width: 95px;
    color: var(--main-color);
    font-weight: bold;
}
#optionList {
    display: flex;
    justify-content: space-between;
}
#optionList > div {
    width: 80px;
    height: 60px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

#personOption {
    display: flex;
    justify-content: space-between;
}
.countBox {
    padding: 30px;
    width: 32%;
    height: 100%;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--sub-color);
}
.countButton{
    font-size: 20px;
    width: 25px;
    border: none;
    border-radius: 50px;
    color: var(--sub-color);
}
.countInput{
    width: 30px;
    border: none;
    text-align: center;
    font-size: 17px;
    color: var(--sub-color);
}
#calculate {
    width: 360px;
    height: 60px;
    border: 1px solid #E0C150;
    border-radius: 5px;
    background-color: var(--main-color);
    font-weight: bold;
    color: var(--sub-color);
}