:root {
    --main-color: #e0c150;
    --sub-color: #5b1a1a;

    --main-font: arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
#checkIn, #checkOut, #roomOption, #personOption {margin-bottom: 15px;}
.box {
    width: 360px;
    height: 60px;
    border: 1px solid #E0C150;
    border-radius: 5px;
}

#optionList {
    display: flex;
    justify-content: space-between;
}
#optionList > div {
    width: 80px;
    height: 60px;
    border: 1px solid #E0C150;
    border-radius: 5px;
}

#personOption {
    display: flex;
    justify-content: space-between;
}
.countBox {
    display: inline-block;
    width: 170px;
    height: 80px;
    border: 1px solid #E0C150;
    border-radius: 5px;
}

#calculate {
    width: 360px;
    height: 60px;
    border: 1px solid #E0C150;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--sub-color);
}